@import url('https://fonts.googleapis.com/css2?family=Poppins: wght@100;200;300;400;500;600;700;800;900;&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
}

/* Global Tags */

h1 {
	font-size: 2.5rem;
	font-weight: 700;
	color: rgb(35, 35, 85);
}

span {
	font-size: .9rem;
	color: #757373;
}

h6 {
	font-size: 1.1rem;
	color: rgb(24, 24, 49);
}

/* Navigation*/

nav {
	position: absolute;
	width: 100%;
	background: #fff;
	backdrop-filter: blur(500px);
	height: 20;
	width: 10;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 1vw 8vw;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
	
}

nav img {
	width: 90px;
	height: 50px;
	
}

nav .navigation ul {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	float: right;
	backdrop-filter: blur(500px);
}

nav .navigation ul li{
	list-style: none;
	margin-left: 30px;
	float: right

}


nav .navigation ul li a {
	text-decoration: none ;
	color: rgb(21, 21, 100);
	font-size: 20px;
	font-weight: 500;
	transition: 0.3s ease;


}

nav .navigation ul li a.active,
nav .navigation ul li a:hover {
	color: #FDC93B;

}

.drop{
	margin-left: 20px;
}

.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 100px;
  margin-left: 20px;
}


.dropbtn:hover, .dropbtn:focus  {
  background-color: #2980B9;
}

.navigation {
  position: relative;
  display: flex;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100px;
  overflow: scroll;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;

}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.navigation a:hover {background-color: #ddd;}

.show {display: block;}






/* Home -*/

/* header{
	background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../2a.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}   */

#Home {
	/*background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.7)), url(../2a.jpg);*/
	background-image: url(back22.jpeg);
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding-top: 40px;
}

#Home .moving {

	position:relative; 
	left:10px; 
	top:1px; 
	background-color:yellow;

}

#Home h2{
	color: #fff;
	font-size: 2.2rem;
	letter-spacing: 1px;
}

#Home p{
	width: 50%;
	color:  #fff;
	font-size: 0.9rem;
	line-height: 25px;
}

#Home .btn {
	margin-top: 30px;
}


#Home a{
	text-decoration: none;
	font-size: 0.9rem;
	padding: 13px 35px;
	background-color: #fff;
	font-weight: 600;
	border-radius: 20px;
}
#Home a.blue {
	color: #fff;
	background: rgb(21, 21, 100);
	transition: 0.3s ease;
}

#Home a.blue:hover {
	color: rgb(21, 21, 100);
	background: #fff;
}

#Home a.yellow {
	color: #fff;
	background: #FDC938;
	transition: 0.3s ease;
}

#Home a.yellow:hover {
	color: #FDC938;
	background: #fff;
}

/* features */

#features {
	padding: 5vw 8vw 0 8vw;
	text-align: center;

}

#features .fea-base{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px,1fr));
	grid-gap: 2rem;
	margin-bottom: 70px;
}


#features .fea-box {
	background: #f5f5fc;
	text-align: start;
	cursor: pointer;
	margin-top: 20%;


}

#features .fea-box i {
	font-size: 2.3rem;
	color: rgb(44, 44, 80);
	cursor: pointer;
}

#features .fea-box i h3 {
	font-size: 1.2res;
	font-weight: 600;
	color: rgb(46, 46, 59);
	padding: 13px 0 7px 0;
	cursor: pointer;
}


#features .fea-box p{
	font-size: 1res;
	font-weight: 400;
	color: rgb(70, 70, 87);
}

/*  course */

#course {
	padding: 8vw 8vw 8vw 8vw;
	text-align: center;
	background-image: url(back.jpg);
}

#course .course-box {
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
	grid-gap: 1rem;
	margin-top: 50px;
}

#course .course {
	text-align: start;
	background: #F9F9FF;
	height: 100%;
	position: relative;
}

#course .course img {
	width: 100%;
	height: 60%;
	background-size: cover;
	background-position: center;
}

#course .course .details {
	padding: 15px 15px 0 15px;
	cursor: pointer;
}

#course .course .details i{
	color: #FDC938;
    font-size: .9rem;
}

#course .course .blink {
	background-color: rgb(119, 197, 229);
	
	color: #fff;
	line-height: 60px;
	width: 60px;
	height: 60px;
	text-align: center;
	border-radius: 60%;
	position: absolute;
	right: 15px;
	bottom: 100px;
}
.blink {
        animation: blinker 1s linear infinite;
        color: #ff2929;
        font-size: 20px;
        font-weight: bold;
        font-family: sans-serif;
      }
      @keyframes blinker {
        50% {
          opacity: 0;
        }
      }
      .blink-one {
        animation: blinker-one 1s linear infinite;
      }

/* registration */

#registration {
	padding: 6vw 8vw 10vw 8vw;
	/*background-image:linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.7)), url(../2a.jpg);*/ 
	background-image: url(2a.jpg);
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: space-between;
    align-items: center;
}

#registration .reminder{
	color: #fff;
}

#registration .reminder h1{
	color: #fff;
}

#registration .reminder .time {
	display: flex;
	margin-top: 40px;

}

#registration .reminder .time .date {
	text-align: center;
    padding: 13px 33px;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(4px);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 10px;
    margin: 0 5px 10px 5px;
    border: 1px soliod rgba(255, 255, 255, 0.18);
    font-size: 1.1rem;
    font-weight: 600;
	
}

#registration .form{
	background: #fff;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	padding: 40px;
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

#registration .form input{
	margin: 15px 0;
	padding: 15px 10px;
	border: 1px solid rgb(84, 40, 241);
	outline: none;
}

#registration .form input::placeholder {
	color: #423c3c;
	font-weight: 500;
	font-size: 0.9rem;
  
}

#registration .form .btn {
	margin-top: 20px;
}

#registration .form a.yellow {
	text-decoration: none;
	font-size: 0.9rem;
	padding: 13px 35px;
	background-color: #fff;
	font-weight: 600;
	border-radius: 5px;
	color: #fff;
	background: #FDC938;
	transition: 0.3s ease;
}

#registration .form a.yellow:hover {
	color: rgb(21, 21, 100);
	background: #fff;
}


/* erxpert */

#experts {
	padding: 8vw 8vw 8vw 8vw;
	text-align: center;
}

#experts .expert-box {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
	grid-gap: 1rem;
	margin-top: 50px;
}

#experts .expert-box .profile {
	background: #fafaf1;
	padding: 30px 10px;
}

#experts .expert-box .profile img {
	width: 100%;
	height: 60%;
	border-radius: 50%;
	background-size: cover;
	background-position: center;
	background-color: ;
}


.pro-links {
	margin-top: 10px;
}

.pro-links i {
	padding: 10px 13px;
	border: 1px solid rgb(21, 21, 100);
	cursor: pointer;
}

.pro-links i {
	background: rgb(21, 21, 100);
	color: #fff;
	border: 1px solid rgb(21, 21, 100);
	cursor: pointer;
	transition: 0.3s ease;
}

.pro-links i:hover {
	background: rgb(21, 21, 100);
	color: #fff;
	border: 1px solid rgb(21, 21, 100);
	cursor: pointer;
}

footer{
	padding: 8vw;
	background-color: #101C32;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
}
footer .footer-col{
	padding-bottom: 40px;
}

footer h3{
	color: rgb(241, 240, 245);
	font-weight: 600;
	padding-bottom: 20px;
}

footer li{
	list-style: none;
	color: #7b838a;
	padding: 10px ;
	font-size: 15px;
	cursor: pointer;
	transition: 0.3s ease;
}

footer li:hover{
	color: rgb(241,240, 245);
}

footer p{
	color: #7b838a;
}

footer .subscribe{
	margin-top: 20px;
}

footer input{
	width: 220px;
	padding: 15px 12px;
	background: #334F6C;
	border: none;
	outline: none;
	color: #fff;
}

footer.subscribe a{
    text-decoration: none;
	font-size: 0.9rem;
	padding: 12px 15px;
	background-color: #fff;
	font-weight: 600;
	border-radius: 20px;
}

footer .footer-col .subscribe a.yellow {
	text-decoration: none;
	font-size: 0.9rem;
	padding: 13px 35px;
	font-weight: 600;
	border-radius: 5px;
	color: #2c2c2c;
	background: #FDC938;
	transition: 0.3s ease;
}

footer .footer-col.subscribe a.yellow:hover {
	color: rgb(21, 21, 100);
	background: #fff;
}

footer .copyright {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	flex-wrap: wrap;
}

footer .copyright p{
	color: #fff;
}

footer .copyright .pro-links {
	margin-top: 0px;
}

footer .copyright .pro-links i {
	background-color: #5f7185;
	color: #fff;
}

footer .copyright .pro-links i:hover {
	background-color: #FDC938;
	color: #2c2c2c;
}

/* About */

#about-home {
	/*background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.7)), url(../2a.jpg);*/
	background-image: url(p1.jpeg);
	width: 100%;
	height: 60vh;
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding-top: 40px;
}

#about-home h2 {
	color: #fff;
	font-size: 2.5rem;
	letter-spacing: 1px;
  margin-bottom: 70px;
}

#about-container{
	display: flex;
	align-items: center;
	padding: 8vw 8vw 2vw 8vw;
}

#about-container .about-img {
	width: 60%;
}

#about-container .about-img img{
   width: 600px;
   height: 450px;
   margin-left: 10px;
}

#about-container .about-text {
  margin-left: 100px;
  margin-bottom: 95px;
  padding: 0px;
}

#about-container .about-text h2{
	color: #293038;
	padding-bottom: 15px;
}

#about-container .about-text p{
	color: #686F7A;
	
}

#about-container .about-text .about-fe {
/*	display: flex;
	justify-content: space-between;
	align-items: flex-start; */
	margin-top: 20px;
}

#about-container .about-text .about-fe img{
	width: 50px;
	background-size: cover;
	background-position: center;

}


#about-container .about-text .about-fe img{
	width: 50px;
	background-size: cover;
	background-position: center;
	margin-right: 20px;
}

#about-container .about-text .about-fe .fe-text {
		color: #686F7A;
}

#about-container .about-text .about-fe .fe-text h5{
	font-size: 16px;
	color: #293038;
}

  /* Trust by */

#trust {
	text-align: center;
	padding: 8vw;
}

#trust .trust-img {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#trust .trust-img img {
	width: 90px;
	height: auto;
}

/* contact */

#contact {
	padding: 8vw;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

#contact .getin {
	width: 350px;
}

#contact .getin h2{
	color: #2c234d;
	font-size: 30px;
	font-weight: 800;
	line-height: .8;
	margin-bottom: 8px;
}

#contact .getin p{
	color: #686875;
	line-height: 24px;
	margin-bottom: 33px;
	padding-bottom: 25px;
	border-bottom: 1px solid #e5e4ed;
}

#contact .getin h3{
	color: #2c234d;
	font-size: 16px;
	font-weight: 600;
	line-height: 26px;
	margin-bottom: 15px;
}

#contact .getin .getin-details div{
	display: flex;
}

#contact .getin .getin-details div .get{
	font-size: 16px;
	line-height: 22px;
	color: #5838fc;
	margin-right: 20px;
}

#contact .getin .getin-details div p{
	font-size: 14px;
	border-bottom: none;
	line-height: 22px;
	margin-bottom: 15px;
}

#contact .getin .getin-details .pro-links i{
	margin-right: 8px;
}

#contact .form{
	width: 60%;
	background: #f7f6fa;
	padding: 40px;
	border-radius: 10px;
}

#contact .form h4{
	font-size: 24px;
	color: #2c234d;
	line-height: 30px;
	margin-bottom: 8px;
}

#contact .form p{
	color: #686875;
	line-height: 24px;
	padding-bottom: 25px;
}

#contact .form .form-row{
	display: flex;
	justify-content: space-between;
	width: 100%;
}

#contact .form .form-row input {
	width: 48%;
	font-size: 14px;
	font-weight: 400;
	border-radius: 3px;
	border: none;
	background: #fff;
	color: #7e7c87;
	outline: none;
	padding: 20px 30px;
	margin-bottom: 20px;
}

#contact .form .form-col input,
#contact .form .form-col textarea{
	width: 100%;
	font-size: 14px;
	font-weight: 400;
	border-radius: 3px;
	border: none;
	background: #fff;
	color: #7e7c87;
	outline: none;
	padding: 20px 30px;
	margin-bottom: 20px;
}

#contact .form button{
	font-size: .9rem;
	padding: 13px 25px;
	background: rgb(21, 21, 100);
	border-radius: 5px;
	outline: none;
	border: none;
	font-weight: 600;
	cursor: pointer;
	color: #fff;
}

#map {
	width: 100%;
	height: 70vh;
}

#map iframe {
	width: 100%;
	height: 100%;
}
